{{#each blogposts as |blogpost|}}

  <div class="container">
    <div class="row row-centered">

      <div class="col-centered box col-sm-6">
        <div class="content">title: {{blogpost.title}} </div>
        <div class="content">body: {{blogpost.content}}</div>
      </div>
      <div class="col-centered box col-sm-6">

      </div>
    </div>
      <div class="row row-centered">
      <div class="col-xs-2 col-centered box">
        <button type="button" class="delete-post-button btn btn-danger" data-id="{{blogpost._id}}">Delete</button>
      </div>
      <div class="col-xs-2 col-centered box">
        <button type="button" class="edit-post-button btn btn-success" data-id="{{blogpost._id}}">Edit</button>
      </div>
    </div>
  </div>

    <form class="blog-edit-{{blogpost._id}} blog-edit hidden"  data-id="{{blogpost._id}}">
      <div class="row row-centered">
        <div class="col-xs-3 col-centered box">
          <div class="content text-center">
            <input type="text" placeholder="put title here" name="blogpost[title]">
            <textarea rows="4" cols="30" placeholder="put content here" name="blogpost[content]"></textarea>
          </div>
        </div>
          <div class="col-xs-3 col-centered box">
            <div class="content text-center"><button type="submit" class="edit-submit btn btn-success">Update</button></div>
          </div>
        </div>
      </form>

      <div class="post-failure"></div>

{{/each}}
