{{#each pages as |page|}}

  <!-- Show Pages -->

  <div class="show-pages-wrapper">
      <div id=page-{{page._id}}>
      <div>
        <div class="content-{{page.id}} content page-name"><p>
          {{page.title}}</p>
         </div>
      </div>
      <div>
        <div class="content-{{page.id}} content page-content">
          <p>{{page.content}}</p>
        </div>
      </div>
      <div>
        <button type="button" class="edit-page-button" data-id="{{page._id}}">Edit</button>
      </div>
      <div>
        <button type="button" class="delete-page-button" data-id="{{page._id}}">Delete</button>
      </div>
    </div>



  <form class="page-edit-{{page._id}} page-edit hidden"  data-id="{{page._id}}">
    <div class="form-group">
      <label>Edit Page Title</label>
        <input type="text" value="{{page.title}}" name="page[title]">
    </div>
    <div class="form-group">
      <label>Edit Page Body</label>
        <textarea rows="4" cols="30" placeholder="put content here" name="page[content]">{{page.content}}</textarea>
    </div>
    <button type="submit" class="edit-submit btn btn-success">Update</button>
    <button type="button" class="btn btn-default hide-page-update" data-id="{{page._id}}">Cancel</button>
    </form>
  </div>
{{/each}}
