{{#each blogposts as |blogpost|}}

<div class="show-posts-wrapper">
  <div id="post-{{blogpost._id}}">
    <div>
      <div>
        <div class="content blogpost-title">
          <p>{{blogpost.title}}</p>
         </div>
        <div class="content blogpost-content">
          <p>{{blogpost.content}}</p>
        </div>
      </div>
    </div>
      <div>
        <button type="button" class="edit-post-button" data-id="{{blogpost._id}}">Edit</button>
      </div>
      <div>
        <button type="button" class="delete-post-button" data-id="{{blogpost._id}}">Delete</button>
      </div>
    </div>
  </div>

  <form class="hidden blog-edit" data-id="{{blogpost._id}}" id="edit-blog-{{blogpost._id}}">
    <div class="form-group">
      <label>Edit Post Title</label>
      <input type="text" maxlength="25" class="form-control" name="blogpost[title]" value="{{blogpost.title}}">
    </div>
    <div class="form-group">
      <label>Edit Post Content</label>
      <textarea rows="4" cols="30" class="form-control" name="blogpost[content]">{{blogpost.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary" data-edit="{{blogpost._id}}">Submit</button>
    <button type="button" class="btn btn-default cancel-button" data-id="{{blogpost._id}}">Cancel</button>
  </form>
  <div class="post-failure"></div>
    {{/each}}
