
<button type="button" data-id="{{page._id}}" class="show-page-button show-other-blog-button">Blog</button>

{{#each pages as |page|}}

  <!-- Show Pages -->

<button type="button" data-id="{{page._id}}" class="show-page-button">{{page.title}}</button>


{{/each}}





<!--
<div class="col-xs-4 col-centered box">
<div class="content-{{page._id}} content">content: {{page.content}}</div>

</div>
-->
