{{#each pages as |page|}}

  <!-- Show Pages -->

  <div>

    <div>
      <div class="content-{{page.id}} content page-name">title: {{page.title}} </div>
    </div>
    <div>
      <div class="content-{{page.id}} content page-due">body: {{page.content}}</div>
    </div>
    <div>
      <button type="button" class="delete-page-button btn btn-danger" data-id="{{page._id}}">Delete</button>
    </div>
    <div>
      <button type="button" class="edit-page-button btn btn-success" data-id="{{page._id}}">Edit</button>
    </div>
  </div>

  <form class="page-edit-{{page._id}} page-edit hidden"  data-id="{{page._id}}">
    <div class="row row-centered">
      <div class="col-xs-3 col-centered box">
        <div class="content text-center">
          <input type="text" placeholder="put title here" name="page[title]">
          <textarea rows="4" cols="30" placeholder="put content here" name="page[content]"></textarea>
        </div>
      </div>
        <div class="col-xs-3 col-centered box">
          <div class="content text-center"><button type="submit" class="edit-submit btn btn-success">Update</button></div>
        </div>
      </div>
    </form>

  <!-- Edit Page Modal
  <div class="modal fade page-edit-{{page._id}} edit-page-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editPageModalLabel">Edit Page</h4>
        </div>
        <div class="modal-body">
          <form class="edit-page-form" data-id="{{page._id}}">
            <div class="form-group">
              <label>Edit Page Title</label>
              <input type="text" maxlength="25" class="form-control" name="page[title]" value="{{page.title}}">
            </div>
            <div class="form-group">
              <label>Edit Page Content</label>
              <textarea rows="4" cols="30" class="form-control" name="page[content]">{{page.content}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="edit-page-submit">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
-->

{{/each}}
